.main{
background-color: #fff;
width: 80%;
margin: 5%;
border-radius: 20px;
padding: 5%;  
box-shadow: 2px 2px 4px #eeeeee;  
}
.lesson li{
list-style: none;
  border-bottom: solid 1px #aaaaaa;
  display: block;
}
.lesson li a{
 transition-property: border,background-color;
  transition-duration: 0.3s;
  text-decoration: none;
  padding: 5px;
  color: #202020;
  display: block;
}
.lesson li a:hover{
  border-left: solid 10px #40803b;
  background-color: #ffffff;
 display: block;
}
/*目印*/
a{
 text-decoration: none;
 color: #1e90ff; 
}
body{
background-color: #bbbbbb;
}
h2{
border: double #7fffd4;
padding: 10px; 
border-radius: 5px;  
}
h3{
padding-bottom: 2px;
padding-left: 5px;
border-left: solid #000000;
  border-bottom: solid #008080;
}
h4{
border: solid #000000;
}

