.menu{
background: #000000;
  position: fixed;
  right: 0;
  height: 100%;
  width: 20%;
}
.menu ul{
float: center;
list-style: none;
}
.menu ul li{
float: center;
padding: 5%;
}
.menu ul font{
color: #fff;
  padding: 10%;
}
